In [9]:
import os, sys
sys.path.append("src")

from imdb.utils import load_tsv, duckdb_scan, get_row_count

import pandas as pd
import duckdb

In [10]:
os.getcwd()

'/Users/joeldiamond/Projects/imdb-data-engineering'

In [11]:
os.listdir("data/raw")[:10]

['title.principals.tsv.gz',
 'title.principals.tsv.gz.md5',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.basics.tsv.gz.md5',
 'title.crew.tsv.gz.md5',
 'title.crew.tsv.gz',
 'title.akas.tsv.gz.md5',
 'title.ratings.tsv.gz',
 'name.basics.tsv.gz.md5']

In [ ]:
df_basics = load_tsv("title.basics.tsv.gz", nrows=5)
df_basics

In [ ]:
duckdb_scan("title.basics.tsv.gz").limit(5).df()

In [12]:
get_row_count("title.basics.tsv.gz")

12091590

In [13]:
df_full_basics_sample = load_tsv("title.basics.tsv.gz", nrows=100_000)
df_full_basics_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          100000 non-null  object
 1   titleType       100000 non-null  object
 2   primaryTitle    100000 non-null  object
 3   originalTitle   100000 non-null  object
 4   isAdult         100000 non-null  int64
 5   startYear       99983 non-null   float64
 6   endYear         4122 non-null    float64
 7   runtimeMinutes  87430 non-null   float64
 8   genres          94382 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 6.9+ MB

In [14]:
load_tsv("title.ratings.tsv.gz", nrows=5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      2185
1  tt0000002            5.5       306
2  tt0000003            6.4      2269
3  tt0000004            5.2       196
4  tt0000005            6.2      3010

In [15]:
duckdb.query("""
    SELECT b.primaryTitle, r.averageRating, r.numVotes
    FROM read_csv_auto('data/raw/title.basics.tsv.gz', delim='\t') b
    JOIN read_csv_auto('data/raw/title.ratings.tsv.gz', delim='\t') r
    USING (tconst)
    LIMIT 20
""").df()

                                   primaryTitle  averageRating  numVotes
0                                    Carmencita            5.7      2185
1                        Le clown et ses chiens            5.5       306
2                                  Poor Pierrot            6.4      2269
3                                   Un bon bock            5.2       196
4                              Blacksmith Scene            6.2      3010
5                             Chinese Opium Den            5.0       221
6   Corbett and Courtney Before the Kinetograph            5.3       934
7        Edison Kinetoscopic Record of a Sneeze            5.4      2357
8                                    Miss Jerry            5.2       231
9                           Leaving the Factory            6.8      8148
10                      Akrobatisches Potpourri            5.2       437
11                       The Arrival of a Train            7.4     13774
12  The Photographical Congress Arrives in Lyon            5.7      2107
13                          The Waterer Watered            7.1      6303
14                               Around a Cabin            6.1      1300
15                        Boat Leaving the Port            5.9      1690
16                     Italienischer Bauerntanz            4.5       396
17                         Das boxende Känguruh            5.2       684
18                             The Clown Barber            4.7        37
19                               The Derby 1895            4.7       425